<div class="tittle">
  <h1>{{operacion}} Producto</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
  <mat-card class="card">
    <mat-card-subtitle>
      Datos del Producto
    </mat-card-subtitle>
    <form [formGroup]="form" (ngSubmit)="agregarProducto()">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nombre del Producto</mat-label>
            <input formControlName="nombreProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Marca del Producto</mat-label>
            <input formControlName="marcaProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Descripcion del Producto</mat-label>
            <input formControlName="descripcionProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Categoria del Producto</mat-label>
            <input formControlName="categoriaProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Precio del Producto</mat-label>
            <input type="number" formControlName="precioProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>SKU del Producto</mat-label>
            <input formControlName="skuProducto" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nombre almacen (opcional)</mat-label>
            <input formControlName="nombreProductoInventario" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Cantidad (opcional)</mat-label>
            <input type="number" formControlName="cantidadProductoInventario" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <button type="submit" class="btn-aceptar" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
          <button mat-raised-button routerLink="/listadoProducto">Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>

