table {
  width: 100%;
}

td, th
{
  width: 18%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

.search{
  cursor: pointer;
}

.edit{
  cursor: pointer;
  color: #1878B0;
}

.delete{
  cursor: pointer;
  color: #E15639;
}

.agregar{
  font-size: 10px;
  line-height: 28px;
}





.example-card {
}

.example-header-image {
  max-width: 120px;
  padding: 16px;
  background-size: cover;
}


mat-toolbar {
    justify-content: space-between;
}

.content {
  padding: 50px;
  max-width: fit-content;
  max-height: min-content;
}

.content > mat-card {
    margin-bottom: 16px;
}

.card-button{
  font-size: 14px;
  width: 150px;
  line-height: 14px;
  padding: 10px;
}
