<div class="tittle">
  <h1>{{operacion}} Almacen</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
  <mat-card class="card">
    <mat-card-subtitle>
      Datos del Almacen
    </mat-card-subtitle>
    <form [formGroup]="form" (ngSubmit)="agregarEditarInventario()">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nombre del Almacen</mat-label>
            <input formControlName="nombreProductoInventario" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Cantidad de Productos</mat-label>
            <input formControlName="cantidadProductoInventario" matInput autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <button type="submit" class="btn-aceptar" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
          <button mat-raised-button routerLink="/editarProducto/{{id}}">Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
