table {
  width: 100%;
}

td, th
{
  width: 15%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.search{
  cursor: pointer;
}

.edit{
  cursor: pointer;
  color: #1878B0;
}

.delete{
  cursor: pointer;
  color: #E15639;
}

.agregar{
  font-size: 12px;
  line-height: 30px;
}


.registrarse-button{
  float: left;
}

.editar-perfil{
  float: right;
}

.logout-button{
  float: right;
  margin-left: 1%;
}


.example-card {
}

.example-header-image {
  max-width: 120px;
  padding: 16px;
  background-size: cover;
}


mat-toolbar {
    justify-content: space-between;
}

.content {
  padding: 50px;
  max-width: fit-content;
  max-height: min-content;
}

.content > mat-card {
    margin-bottom: 16px;
}

.card-button{
  font-size: 14px;
  width: 150px;
  line-height: 14px;
  padding: 10px;
}
