body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #262c3a;
  color: white;
}

.registrarse-button{
  float: left;
}

.logout-button{
  float: right;
}


.container{
  background-color: #0e0f0f;
  color: white;
  margin: 0;
  width: 100%;
  height: 50%;
  text-align: center;
}

.second-section{
  float: left;
  width: 50%;
  height: 100%;
}

#objetives{
  background: url("../../../../images/objetivos-image.jpg");
}
#members{
  background: url("../../../../images/staff-image.jpg");
}

.product-section{
  background-image: url("../../../../images/pastillero-circular-image.png");
  width: auto;
  height: 100%;
  padding: 50px;
  text-align: center;
  background-color: #141516;
  color: white;
}

.contact-section{
  width: 94.2%;
  height: auto;
  padding: 50px;
  text-align: center;
  background-color: #000000;
  color: white;
}
