<div class="tittle">
  <h1>Ver Producto</h1>
</div>

<!--- *ngIf="producto$ | async as producto"  Se usa cuando se trabaja con PIPE Async --->
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="producto != null" class="container">
<mat-card class="card">
  <!--- {{producto | json}}  Sirve para ver todos los datos del objeto --->
  <mat-card-title>{{producto.nombreProducto}}</mat-card-title>
  <mat-card-content>
    <p><strong>Nombre:</strong> {{producto.nombreProducto}}</p>
    <p><strong>Marca:</strong> {{producto.marcaProducto}}</p>
    <p><strong>Descripcion:</strong> {{producto.descripcionProducto}}</p>
    <p><strong>Categoria:</strong> {{producto.categoriaProducto}}</p>
    <p><strong>Precio:</strong> ${{producto.precioProducto}}</p>
    <p><strong>Stock:</strong> {{producto.skuProducto}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/listadoProducto" mat-raised-button>Volver</button>
  </mat-card-actions>
</mat-card>
</div>
